[Desktop Entry]
Name=save/backup changes
Exec=/usr/local/bin/save-changesnew
Comment=
Terminal=true
PrefersNonDefaultGPU=false
Icon=/home/guest/.config/save-changesnew/icons/flatpak.svg
Type=Application
Name[en_US]=save/backup changes
