[Desktop Entry]
Categories=Network;
Comment[en_US]=Save changes if EXIT:
Comment=Save changes if EXIT:
Exec=/usr/bin/save-changesnew
GenericName[en_US]=Save changes new
GenericName=Save changes new
Icon=/home/guest/.config/save-changesnew/icons/flatpak.svg
MimeType=
Name[en_US]=Save changes new
Name=Save changes new
StartupNotify=true
Terminal=true
TryExec=/usr/bin/save-changesnew
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
