[Desktop Entry]
Version=1.0
Type=Application
Name=save changesnew conf
Comment=Opens the config directory
Exec=nemo /home/guest/.config/save-changesnew
Icon=folder
Terminal=false
Categories=Network
Name=save changesnew-conf
