[Desktop Entry]
Version=1.0
Type=Application
Name=save changesnew conf
Comment=Opens the config directory
Exec=nemo /usr/local/save-changesnew/config
Icon=folder
Terminal=false
Categories=Network
Name=save changesnew-conf
